<ol>
<% tasks.each do |task| %>
  <li>
  <b>Name:</b> <%= task.name %><br>
  <b>Categories:</b> <%= list_task_categories(task) %><br>
  <b>Description:</b> <%= task.description %><br>

  <% if !(task.category_tasks.first.description == nil) %>
    <b>Additional Details: </b><%= task.category_tasks.first.description %><br>
  <% end %>
  
  <b>Added By:</b> <%= task_added_by?(task) %><br>
  <b>Due Date:</b> <%= task.formatted_date(task.due_date) %><br>
  <button type="button" class="btn btn-success btn-sm">Complete</button> 
  <button type="button" class="btn btn-primary btn-sm">View</button> 
  <button type="button" class="btn btn-danger btn-sm">Delete</button><br><br>
<% end %>
</ol>