<h1> <%= current_user.email %> Tasks</h1>

<%= render "users/admin_tools" if current_user.admin? %>

<%= link_to "New Task", new_user_task_path(current_user) %>

<% if @overdue_tasks_count > 0 %>
<p>You have <%= @overdue_tasks_count %> overdue <%= 'task'.pluralize(@overdue_tasks_count) %>.</p>
<% end %>

<h3>Current Tasks</h3>
<% if !@incomplete_tasks.empty? %>
  <%= render "tasks", tasks: @incomplete_tasks %>
<% else %>
  <p>Congrats! All Tasks are completed at this time!</p>
<% end %>

<h3>Completed Tasks</h3>
<% if !@completed_tasks.empty? %>
  <%= render "tasks", tasks: @completed_tasks[0..4] %>
<% else %>
  <p>You haven't completed any tasks yet!</p>
<% end %>

<%= link_to "View All Completed Tasks", user_completed_tasks_path(current_user) %> 
