<h1 id="welcome"> Welcome, <%= current_user.email %> </h1>

<%= render "users/admin_tools" if current_user.admin? %>

<p><b><%= render "overdue_task_message" %></b></p>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<p id="task_search">View Tasks By Category: <%= render "category_links" %></p>
		</div>
		<div class="col-md-6">
		</div>
	</div>
</div>

<%= link_to "View All Completed Tasks", user_completed_tasks_path(current_user) %> 

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h3>Current Tasks</h3>
			<%= render "current_tasks" %>
			<a href="#" id="view_all_tasks">View All Current Tasks</a>
		</div>
		<div class="col-md-6">
			<button type="button" class="btn btn-primary" id="new_task">New Task</button>
			<div id="render_new_form"></div>
			<div class="render_more_tasks">
				<ol start="4" id="rendered_tasks"></ol>
			</div>
		</div>
	</div>
</div>
