<!DOCTYPE html>
<html>
  <head>
    <title>StayInformed</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	  <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <nav>
        <%= link_to "Home", root_path %> |
        <% if current_user %>
          <%= link_to "User Profile", user_profile_path(current_user) %> |
          <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Sing In", new_user_session_path %> |
          <%= link_to "Sign Up", new_user_registration_path %>
        <% end %>
      </nav>
    <%= yield %>
  </body>
</html>
